User Agent reported by Mobile SDK is non-standard

I'm running a Hybrid app on Android and one of the bits of Javascript my app uses sniffs browser capabilities by parsing the navigator.appVersion

Whether this is the best practice or not is not something I have much influence over. 

The problem lies with this line:

https://github.com/forcedotcom/SalesforceMobileSDK-Android/blob/master/libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/sfhybrid/SalesforceDroidGapActivity.java#L142

It prepends the Salesforce Mobile SDK attributes rather than appending them as is the recommended best practice. By placing the Mobile SDK version first, it confuses my 3rd party javascript into thinking I'm running Netscape 3. 

Section 14.43 of [RFC2616](http://www.ietf.org/rfc/rfc2616.txt) discusses the order of precedence of identifiers in a User Agent string.

I saw that Issue #56 was closed -- I'm not asking for it to be configurable -- I'm asking for it to follow the RFC for modifying the userAgent String

Actual:
````
3.2.0.unstable android mobile/5.0.1 (Nexus 9) MyApp/1.1 Hybrid Hybrid Mozilla/5.0 (Linux; Android 5.0.1; Nexus 9 Build/LRX22C; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/42.0.2311.137 Safari/537.3
````

Expected:

````
5.0 (Linux; Android 5.0.1; Nexus 9 Build/LRX22C; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/42.0.2311.137 Safari/537.36 SalesforceMobileSDK/3.2.0.unstable android mobile/5.0.1 (Nexus 9) MyApp/1.1 Hybrid
````


We do understand this diversion from the standard that happened because of legacy reasons. But unfortunately it's really hard for us to fix it now as it will break the legacy integrations that are outside our control. As a workaround, you can always change the User-Agent string for your own apps. 

We will keep this issue open as an enhancement for future.

Unfortunately, we won't be able to change the user agent, due to backward compatibility issues. Besides, there is a workaround for app developers to override the default string.

How do you propose working around it?

I had to override the init() method in my Activity and do some string manipulation after having carnal knowledge of the app initialization sequence. At a minimum, this should be a method in SalesforceDroidGapActivity that can be overridden cleanly
````
      @Override
      public void init()
       {
               super.init();

               if(this.appView != null) {
                       String nativeUserAgent = appView.getSettings().getUserAgentString();
                       String salesforceUA = SalesforceSDKManager.getInstance().getUserAgent();

                       //Strip off the Salesforce cruft to restore it back to its original form
                       nativeUserAgent = nativeUserAgent.replace(salesforceUA,"");

                       appView.getSettings().setUserAgentString(nativeUserAgent + " " + salesforceUA);
               }
       }
````

@daveespo The way to override is not in ```SalesforceDroidGapActivity```, it is in ```SalesforceSDKManager```. You would have to override ```getUserAgent()``` in ```SalesforceSDKManager``` to return the user agent you want to use.

But then how do I get all of the other framework (SalesforceDroidGapActivity and the various dependent classes) to use my subclass? SalesforceSDKManager is a singleton and it constructs and instance of itself. There's no way to pass in an alternative implementation that I can see.

The app class calls ```SalesforceSDKManager.initHybrid()``` currently to initialize the components. Instead, your app class would call ```<subclass-of-SalesforceSDKManager>.init...```. Look at how we use ```SalesforceSDKManagerWithSmartStore``` for example. Your implementation would use the same pattern.

Or if that feels like too much effort, you'd have to fork and make the change in your fork.